<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<system.webServer>
  <httpErrors errorMode="Custom" existingResponse="Replace">
    <remove statusCode="404"/>
    <remove statusCode="500"/>
    <remove statusCode="503"/>
    <error statusCode="404" path="index.aspx" responseMode="Redirect"/>
    <error statusCode="500" path="index.aspx" responseMode="Redirect"/>
    <error statusCode="503" path="index.aspx" responseMode="Redirect"/>
  </httpErrors>
</system.webServer>
</configuration>